# Canonical identity for this repository.
#
# Early commits were made with an address that is attached to a different
# GitHub account; git and GitHub both use this file to fold them into the
# author's real identity.
jongsu-king <imjongsu1102@gmail.com> <a01064012916@gmail.com>
jongsu-king <imjongsu1102@gmail.com> Jongsu Lim <a01064012916@gmail.com>
jongsu-king <imjongsu1102@gmail.com> Imjongsu <a01064012916@gmail.com>
